:root {
    /* Editor */
    --editor-bg: oklch(25.1% 0.010 128);
    --page-bg: oklch(from var(--editor-bg) calc(l - 0.05) c h);
    --tab-bar-bg: oklch(from var(--page-bg) calc(l + 0.01) c h);
    --caret-row: oklch(27.2% 0.010 128);
    --gutter-bg: oklch(30.0% 0.010 128);
    --selection-bg: oklch(34.4% 0.021 128);
    --search-result-bg: oklch(0.35 0.01 128);

    /* Text */
    --fg: oklch(75.0% 0.009 128);
    --fg-bright: oklch(from var(--fg) calc(l + 0.1) c h);
    --fg-muted: oklch(52.0% 0.031 145);

    /* Syntax — forest */
    --keyword: oklch(53.5% 0.111 128);
    --function-decl: oklch(70.1% 0.111 128);
    --constant-field: oklch(63.2% 0.152 128);
    --implicit-param: oklch(73.2% 0.129 118);
    --number: oklch(64.7% 0.100 153);
    --string: oklch(56.1% 0.082 60);
    --string-escape: oklch(55.2% 0.138 128);
    --string-escape-bad: oklch(0.4 0.082 60);
    --static-method: oklch(61.0% 0.110 60);
    --named-arg: oklch(59.7% 0.155 128);

    /* Effects */
    --mutable-underline: oklch(42.2% 0.087 128);
    --typo-underline: oklch(39.6% 0.066 60);

    /* Inherited from Darcula */
    --comment: #808080;
    --doc-comment: #629755;
    --metadata: #bbb529;
    --todo: #a8c023;
    --line-number: #606366;
    --error: #bc3f3c;
    --warning: #be9117;
}
