:root {
    /* Editor */
    --editor-bg: oklch(25% 0.01 128);
    --caret-row: oklch(27% 0.01 128);
    --selection-bg: oklch(35% 0.02 128);
    --search-result-bg: oklch(35% 0.01 128);

    --page-bg: oklch(from var(--editor-bg) calc(l - 0.05) c h);
    --tab-bar-bg: oklch(from var(--page-bg) calc(l + 0.01) c h);
    --gutter-bg: oklch(from var(--editor-bg) calc(l + 0.05) c h);

    /* Text */
    --fg: oklch(75% 0.01 128);
    --fg-bright: oklch(from var(--fg) calc(l + 0.1) c h);
    --fg-muted: oklch(52.0% 0.031 145);

    /* Syntax — forest */
    --keyword: oklch(53% 0.111 128);
    --function-decl: oklch(70% 0.111 128); /* bright --keyword */
    --constant-field: oklch(63% 0.152 128); /* bright & saturated --keyword */
    --implicit-param: oklch(70% 0.151 128); /* saturated --function-decl */
    --number: oklch(53% 0.111 180); /* hue change of --keyword */
    --string: oklch(56% 0.082 60); /* desaturated hue change of --keyword */
    --string-escape: oklch(53% 0.111 128); /* copy of --keyword */
    --string-escape-bad: oklch(40% 0.111 60); /* darker --string */
    --static-method: oklch(61% 0.111 60); /* bright --string */
    --named-arg: oklch(63% 0.061 128); /* desaturated --constant-field*/

    /* Effects */
    --mutable-underline: oklch(42% 0.087 128);
    --typo-underline: oklch(40% 0.066 60);

    /* Inherited from Darcula */
    --comment: #808080;
    --doc-comment: #629755;
    --metadata: #bbb529;
    --todo: #a8c023;
    --line-number: #606366;
    --error: #bc3f3c;
    --warning: #be9117;
}
